<nav
  class="nav navbar-default"
  style="background-color: #CC3300">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle">
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand"
         style="color: aliceblue">
        West Alabama Food Bank</a>
    </div>
    <div class="navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li
          class="dropdown"
          appDropdown>
          <a href="#"
             class="dropdown-toggle"
             role="button"
             style="color: aliceblue"
          >addNameLater
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Manage Account</a></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
