.holder { /* center page content */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wafb-logo { /* push logo down, center */
  margin-top: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

::ng-deep .mat-focused .mat-form-field-label { /* change the color of the input label */
  color: #949494 !important;
}

::ng-deep.mat-form-field-ripple { /* change color of the input underline when focused */
  background-color: #CC3300 !important;;
}

.login-button {
  width: 20%;
  height: 50px;
  margin-top: 25px;
  background-color: #CC3300;
  color: aliceblue;
  font-size: 1.35em;
  font-family: Roboto, "Helvetica Neue", sans-serif; /* font used for matInput */
  font-weight: normal;
}

.email-half-width {
  margin-top: 30px;
  width: 50%;
}
