.holder {
  /* center page content */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.third-width {
  margin-top: 30px;
  width: 33%;
}

::ng-deep .mat-focused .mat-form-field-label {
  /* change the color of the input label */
  color: #949494 !important;
}

::ng-deep.mat-form-field-ripple {
  /* change color of the input underline when focused */
  background-color: #cc3300 !important;
}

.get-started-btn {
  width: 20%;
  height: 50px;
  margin-top: 50px;
  margin-bottom: 12px;
  background-color: #cc3300;
  color: aliceblue;
  font-size: 1.2em;
  font-family: Roboto, 'Helvetica Neue', sans-serif; /* font used for matInput */
  font-weight: normal;
}

h1 {
  font-size: 2.5em;
  font-family: Roboto, 'Helvetica Neue', sans-serif; /* font used for matInput */
  font-weight: bold;
  margin-top: 85px;
  margin-bottom: 30px;
}
