<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="holder">
        <img src="assets/images/wafb.png" alt="West Alabama Food Bank" class="wafb-logo">
        <h2>Welcome, addNameLater!</h2> <!-- this information would be passed through routing -->
        <button
          mat-button
          class="button-template">
          Create Shift
        </button>
        <button
          mat-button
          class="button-template">
          More Options?
        </button>
      </div>
    </div>
  </div>
</div>
